/* .slider{
    transform: rotateX('angle');
    

}
.image{
    border-radius: 40px;
    transition-timing-function: linear;
    width: 800px;
    height: 500px;
   
}

.left-arrow{
    width: 2%;
    height: 2%;
 margin-right: 299px;
     
}
.right-arrow{
    width: 2%;
    height: 2%;
   
    margin-left: 99px;
} */